In [414]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [415]:
path1 = "MedianDaysToClose.csv"
path2 = "MedianDaysToPending.csv"
path3 = "ZillowHomeValues.csv"
closedf = pd.read_csv(path1)
pendingdf = pd.read_csv(path2)
homevaldf = pd.read_csv(path3)

In [416]:
#combining the days from list to pending, and the days from pending to close creates total days on market
daysonmarketdf = pd.concat([closedf, pendingdf]).groupby(['RegionID', 'RegionName','SizeRank']).sum().reset_index()
len(daysonmarketdf)

771

In [417]:
#making the list of anything that is a zero value

rows_to_drop = []
for i in daysonmarketdf.index.tolist(): #iterate over rows
    for j in daysonmarketdf.columns.tolist(): #iterate over columns
        value = daysonmarketdf.loc[i, j] #get cell value
        if (value == 0):
            rows_to_drop.append(i)
            break
len(rows_to_drop)

303

In [418]:
#dropping anything with a zero value from the df

prefinaldaysdf = daysonmarketdf.drop(index = rows_to_drop)

In [419]:
prefinaldaysdf

,RegionID,RegionName,SizeRank,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,...,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022
1,394298,"Aberdeen, WA",468,36.0,39.0,21.0,19.0,17.0,24.0,22.0,...,45.0,42.0,47.0,51.0,53.0,57.0,59.0,38.0,8.0,10.0
2,394299,"Abilene, TX",245,48.0,39.0,34.0,28.0,30.0,30.0,30.0,...,16.0,18.0,23.0,24.0,20.0,25.0,16.0,51.0,33.0,37.0
3,394300,"Ada, OK",730,93.0,50.0,29.0,38.0,30.0,40.0,39.0,...,57.0,62.0,53.0,54.0,69.0,66.0,64.0,70.0,51.0,49.0
4,394302,"Adrian, MI",379,83.0,109.0,58.0,55.0,55.0,60.0,68.0,...,53.0,55.0,48.0,58.0,54.0,67.0,69.0,49.0,37.0,43.0
5,394304,"Akron, OH",74,86.0,71.0,57.0,53.0,58.0,58.0,60.0,...,43.0,43.0,47.0,45.0,46.0,48.0,51.0,40.0,39.0,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,753917,"Santa Maria-Santa Barbara, CA",120,74.0,43.0,50.0,54.0,50.0,60.0,64.0,...,39.0,39.0,39.0,39.0,38.0,42.0,42.0,37.0,36.0,37.0
764,753920,"Sonora, CA",550,43.0,40.0,24.0,17.0,21.0,37.0,31.0,...,12.0,11.0,15.0,16.0,33.0,44.0,62.0,15.0,12.0,10.0
765,753921,"Steamboat Springs, CO",872,54.0,27.0,20.0,26.0,25.0,21.0,23.0,...,9.0,8.0,10.0,13.0,10.0,19.0,16.0,10.0,7.0,6.0
766,753922,"Summit Park, UT",751,79.0,103.0,109.0,68.0,73.0,63.0,60.0,...,43.0,50.0,52.0,46.0,40.0,50.0,39.0,38.0,37.0,37.0
768,753924,"Urban Honolulu, HI",54,49.0,34.0,32.0,41.0,36.0,35.0,43.0,...,12.0,12.0,11.0,13.0,13.0,14.0,16.0,11.0,12.0,11.0

In [420]:
#dropping all the columns before January 2020

finaldaysdf = prefinaldaysdf.drop(columns=['1/31/2018', '2/28/2018', '3/31/2018', '4/30/2018', '5/31/2018', '6/30/2018',
                             '7/31/2018', '8/31/2018', '9/30/2018', '10/31/2018', '11/30/2018', '12/31/2018',
                             '1/31/2019', '2/28/2019', '3/31/2019', '4/30/2019', '5/31/2019', '6/30/2019',
                             '7/31/2019', '8/31/2019', '9/30/2019', '10/31/2019', '11/30/2019', '12/31/2019'])

In [421]:
finaldaysdf

,RegionID,RegionName,SizeRank,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,...,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022
1,394298,"Aberdeen, WA",468,13.0,16.0,10.0,18.0,8.0,10.0,11.0,...,45.0,42.0,47.0,51.0,53.0,57.0,59.0,38.0,8.0,10.0
2,394299,"Abilene, TX",245,60.0,39.0,35.0,29.0,32.0,26.0,26.0,...,16.0,18.0,23.0,24.0,20.0,25.0,16.0,51.0,33.0,37.0
3,394300,"Ada, OK",730,68.0,19.0,30.0,41.0,69.0,57.0,59.0,...,57.0,62.0,53.0,54.0,69.0,66.0,64.0,70.0,51.0,49.0
4,394302,"Adrian, MI",379,97.0,73.0,63.0,85.0,60.0,62.0,64.0,...,53.0,55.0,48.0,58.0,54.0,67.0,69.0,49.0,37.0,43.0
5,394304,"Akron, OH",74,79.0,51.0,48.0,25.0,50.0,46.0,46.0,...,43.0,43.0,47.0,45.0,46.0,48.0,51.0,40.0,39.0,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,753917,"Santa Maria-Santa Barbara, CA",120,77.0,40.0,41.0,48.0,59.0,56.0,50.0,...,39.0,39.0,39.0,39.0,38.0,42.0,42.0,37.0,36.0,37.0
764,753920,"Sonora, CA",550,93.0,75.0,46.0,49.0,43.0,39.0,32.0,...,12.0,11.0,15.0,16.0,33.0,44.0,62.0,15.0,12.0,10.0
765,753921,"Steamboat Springs, CO",872,69.0,95.0,24.0,64.0,33.0,31.0,38.0,...,9.0,8.0,10.0,13.0,10.0,19.0,16.0,10.0,7.0,6.0
766,753922,"Summit Park, UT",751,75.0,74.0,108.0,24.0,68.0,50.0,58.0,...,43.0,50.0,52.0,46.0,40.0,50.0,39.0,38.0,37.0,37.0
768,753924,"Urban Honolulu, HI",54,54.0,37.0,37.0,45.0,42.0,37.0,33.0,...,12.0,12.0,11.0,13.0,13.0,14.0,16.0,11.0,12.0,11.0

In [422]:
#dropping all the columns before Jan 2020
droppedvaldf = homevaldf.drop(columns=['1/31/2018', '2/28/2018', '3/31/2018', '4/30/2018', '5/31/2018', '6/30/2018',
                             '7/31/2018', '8/31/2018', '9/30/2018', '10/31/2018', '11/30/2018', '12/31/2018',
                             '1/31/2019', '2/28/2019', '3/31/2019', '4/30/2019', '5/31/2019', '6/30/2019',
                             '7/31/2019', '8/31/2019', '9/30/2019', '10/31/2019', '11/30/2019', '12/31/2019'])

In [423]:
#renaming column to match the other DF
prefinalvaldf = droppedvaldf.rename(columns = {'0':'RegionID'})
len(prefinalvaldf)

909

In [424]:
#creating a list of anything with zero to drop them

rows_to_drop2 = []
for i in prefinalvaldf.index.tolist(): #iterate over rows
    for j in prefinalvaldf.columns.tolist(): #iterate over columns
        value = prefinalvaldf.loc[i, j] #get cell value
        if (value == 0):
            rows_to_drop2.append(i)
            break
len(rows_to_drop)

303

In [425]:
#dropping
prefinalvaldf.drop(index = rows_to_drop2)

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,...,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022
1,394913,1,"New York, NY",Msa,NY,480737.0,482299.0,483893.0,485602.0,486639.0,...,559674.0,567784.0,574037.0,578902.0,582718.0,586214.0,590445.0,595360.0,602064.0,609442
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,709182.0,715685.0,723187.0,728674.0,726786.0,...,868216.0,882698.0,892611.0,897888.0,905615.0,915573.0,927205.0,940500.0,959260.0,979825
3,394463,3,"Chicago, IL",Msa,IL,247212.0,247838.0,248386.0,248512.0,248354.0,...,283550.0,287900.0,291158.0,293988.0,296830.0,299700.0,302490.0,305217.0,308707.0,312363
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,261149.0,262104.0,263376.0,264013.0,264453.0,...,317077.0,325128.0,332449.0,338641.0,344247.0,350282.0,357878.0,366559.0,374813.0,384474
5,394974,5,"Philadelphia, PA",Msa,PA,255500.0,256530.0,257043.0,258093.0,258936.0,...,306211.0,309959.0,312926.0,315460.0,318024.0,320384.0,323028.0,325668.0,329030.0,332832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,394767,929,"Lamesa, TX",Msa,TX,77632.0,77612.0,77710.0,77932.0,78301.0,...,87981.0,89130.0,90209.0,91160.0,91737.0,93339.0,94971.0,97190.0,98373.0,99414
905,753874,930,"Craig, CO",Msa,CO,204872.0,204941.0,205180.0,205217.0,204961.0,...,235103.0,238825.0,242150.0,245148.0,246775.0,250210.0,253205.0,255597.0,255845.0,256000
906,394968,931,"Pecos, TX",Msa,TX,126953.0,127343.0,128581.0,128329.0,128811.0,...,149678.0,154675.0,159353.0,163987.0,165012.0,167734.0,170405.0,172820.0,174576.0,177218
907,395188,932,"Vernon, TX",Msa,TX,73034.0,72806.0,72588.0,72404.0,72432.0,...,77999.0,78635.0,79136.0,79487.0,79774.0,81914.0,84134.0,86756.0,87446.0,88096
908,394743,933,"Ketchikan, AK",Msa,AK,339002.0,338917.0,338531.0,337912.0,337765.0,...,362231.0,364220.0,366550.0,368505.0,369945.0,375671.0,381618.0,386522.0,386902.0,387494

In [426]:
#this dataframe had a lot of emtpy columns, dropping using NA
finalvaldf = prefinalvaldf.dropna()

In [427]:
#averaging the home value

finalvaldf
onlydatesdf = finalvaldf.drop(['RegionID', 'SizeRank'], axis=1)
onlydatesdf

finalvaldf['2020-NowAvg'] = onlydatesdf.mean(numeric_only=True, axis=1)

In [428]:
finalvaldf

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,...,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,2020-NowAvg
1,394913,1,"New York, NY",Msa,NY,480737.0,482299.0,483893.0,485602.0,486639.0,...,567784.0,574037.0,578902.0,582718.0,586214.0,590445.0,595360.0,602064.0,609442,534645.214286
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,709182.0,715685.0,723187.0,728674.0,726786.0,...,882698.0,892611.0,897888.0,905615.0,915573.0,927205.0,940500.0,959260.0,979825,815820.821429
3,394463,3,"Chicago, IL",Msa,IL,247212.0,247838.0,248386.0,248512.0,248354.0,...,287900.0,291158.0,293988.0,296830.0,299700.0,302490.0,305217.0,308707.0,312363,272492.678571
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,261149.0,262104.0,263376.0,264013.0,264453.0,...,325128.0,332449.0,338641.0,344247.0,350282.0,357878.0,366559.0,374813.0,384474,302522.357143
5,394974,5,"Philadelphia, PA",Msa,PA,255500.0,256530.0,257043.0,258093.0,258936.0,...,309959.0,312926.0,315460.0,318024.0,320384.0,323028.0,325668.0,329030.0,332832,289535.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901,394330,926,"Andrews, TX",Msa,TX,175727.0,176067.0,176358.0,176087.0,176374.0,...,200431.0,202416.0,203216.0,203581.0,206900.0,209821.0,213457.0,214108.0,216213,191378.428571
902,753929,927,"Zapata, TX",Msa,TX,93683.0,93695.0,93828.0,94633.0,95574.0,...,107504.0,108253.0,108801.0,109264.0,111553.0,114169.0,116899.0,117523.0,117795,103180.892857
903,395186,928,"Vermillion, SD",Msa,SD,178789.0,179944.0,181119.0,182251.0,182188.0,...,208273.0,209840.0,211020.0,211845.0,214896.0,218167.0,222689.0,224693.0,226815,198096.071429
906,394968,931,"Pecos, TX",Msa,TX,126953.0,127343.0,128581.0,128329.0,128811.0,...,154675.0,159353.0,163987.0,165012.0,167734.0,170405.0,172820.0,174576.0,177218,145628.678571
908,394743,933,"Ketchikan, AK",Msa,AK,339002.0,338917.0,338531.0,337912.0,337765.0,...,364220.0,366550.0,368505.0,369945.0,375671.0,381618.0,386522.0,386902.0,387494,355734.607143

In [429]:
#averaging the days 

onlydatesdaysdf = finaldaysdf.drop(['RegionID', 'SizeRank'], axis=1)

finaldaysdf['2020-NowAvgDays'] = onlydatesdaysdf.mean(numeric_only=True, axis=1)

In [430]:
finaldaysdf

,RegionID,RegionName,SizeRank,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,...,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,2020-NowAvgDays
1,394298,"Aberdeen, WA",468,13.0,16.0,10.0,18.0,8.0,10.0,11.0,...,42.0,47.0,51.0,53.0,57.0,59.0,38.0,8.0,10.0,31.857143
2,394299,"Abilene, TX",245,60.0,39.0,35.0,29.0,32.0,26.0,26.0,...,18.0,23.0,24.0,20.0,25.0,16.0,51.0,33.0,37.0,28.321429
3,394300,"Ada, OK",730,68.0,19.0,30.0,41.0,69.0,57.0,59.0,...,62.0,53.0,54.0,69.0,66.0,64.0,70.0,51.0,49.0,58.285714
4,394302,"Adrian, MI",379,97.0,73.0,63.0,85.0,60.0,62.0,64.0,...,55.0,48.0,58.0,54.0,67.0,69.0,49.0,37.0,43.0,60.035714
5,394304,"Akron, OH",74,79.0,51.0,48.0,25.0,50.0,46.0,46.0,...,43.0,47.0,45.0,46.0,48.0,51.0,40.0,39.0,37.0,46.392857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,753917,"Santa Maria-Santa Barbara, CA",120,77.0,40.0,41.0,48.0,59.0,56.0,50.0,...,39.0,39.0,39.0,38.0,42.0,42.0,37.0,36.0,37.0,43.928571
764,753920,"Sonora, CA",550,93.0,75.0,46.0,49.0,43.0,39.0,32.0,...,11.0,15.0,16.0,33.0,44.0,62.0,15.0,12.0,10.0,30.178571
765,753921,"Steamboat Springs, CO",872,69.0,95.0,24.0,64.0,33.0,31.0,38.0,...,8.0,10.0,13.0,10.0,19.0,16.0,10.0,7.0,6.0,21.714286
766,753922,"Summit Park, UT",751,75.0,74.0,108.0,24.0,68.0,50.0,58.0,...,50.0,52.0,46.0,40.0,50.0,39.0,38.0,37.0,37.0,54.285714
768,753924,"Urban Honolulu, HI",54,54.0,37.0,37.0,45.0,42.0,37.0,33.0,...,12.0,11.0,13.0,13.0,14.0,16.0,11.0,12.0,11.0,23.964286

In [440]:
mergedaysandvalue = pd.merge(finalvaldf,finaldaysdf, how = "inner", on = ["RegionID","RegionName","SizeRank"])
mergedaysandvalue.to_csv('mergedaysandvalue.csv') 

mergedaysandvalue

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2020_x,2/29/2020_x,3/31/2020_x,4/30/2020_x,5/31/2020_x,...,8/31/2021_y,9/30/2021_y,10/31/2021_y,11/30/2021_y,12/31/2021_y,1/31/2022_y,2/28/2022_y,3/31/2022_y,4/30/2022_y,2020-NowAvgDays
0,394913,1,"New York, NY",Msa,NY,480737.0,482299.0,483893.0,485602.0,486639.0,...,94.0,96.0,96.0,101.0,96.0,109.0,89.0,78.0,73.0,92.142857
1,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,709182.0,715685.0,723187.0,728674.0,726786.0,...,43.0,43.0,43.0,43.0,44.0,44.0,38.0,38.0,38.0,45.107143
2,394463,3,"Chicago, IL",Msa,IL,247212.0,247838.0,248386.0,248512.0,248354.0,...,55.0,57.0,59.0,61.0,68.0,63.0,44.0,43.0,43.0,59.178571
3,394514,4,"Dallas-Fort Worth, TX",Msa,TX,261149.0,262104.0,263376.0,264013.0,264453.0,...,38.0,40.0,39.0,39.0,41.0,40.0,35.0,28.0,32.0,42.392857
4,394974,5,"Philadelphia, PA",Msa,PA,255500.0,256530.0,257043.0,258093.0,258936.0,...,54.0,54.0,54.0,53.0,58.0,59.0,48.0,45.0,44.0,55.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,394300,730,"Ada, OK",Msa,OK,105369.0,105517.0,105636.0,105648.0,104732.0,...,62.0,53.0,54.0,69.0,66.0,64.0,70.0,51.0,49.0,58.285714
378,394916,743,"Newton, IA",Msa,IA,132024.0,131862.0,131643.0,131667.0,131725.0,...,54.0,51.0,53.0,56.0,61.0,72.0,53.0,48.0,49.0,59.928571
379,753922,751,"Summit Park, UT",Msa,UT,923901.0,927703.0,933915.0,938919.0,941313.0,...,50.0,52.0,46.0,40.0,50.0,39.0,38.0,37.0,37.0,54.285714
380,394315,758,"Alexandria, MN",Msa,MN,237179.0,237022.0,236797.0,236522.0,237421.0,...,10.0,14.0,32.0,17.0,32.0,21.0,12.0,43.0,45.0,27.285714
381,753871,837,"Breckenridge, CO",Msa,CO,954055.0,954823.0,954066.0,954548.0,958980.0,...,51.0,50.0,42.0,49.0,46.0,50.0,41.0,43.0,5.0,46.678571